<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  {% comment %} <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'"> {% endcomment %}
{%- endif -%}
{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}

{%- if settings.cart_type == "drawer" -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
  {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }
  .xagonicna {
    text-decoration: none;
    font-weight: 700;
    margin: 0 1.2rem;
  }

  .pkle{
    margin: 1rem 0 !important;
  }
  @media screen and (max-width: 749px){
    .xagonalnk{
      display:none;
    }
    .xagonicna{
     display:none !important; 
    }
  }
  {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
    .scrolled-past-header .header__heading-logo-wrapper {
      width: 75%;
    }
  {%- endif -%}

  {%- if section.settings.menu_type_desktop != "drawer" -%}
    @media screen and (min-width: 990px) {
      header-drawer {
        display: none;
      }
    }
  {%- endif -%}

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>

{%- style -%}
  .header {
    padding: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px 3rem {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px 3rem;
  }

  .section-header {
    position: sticky; /* This is for fixing a Safari z-index issue. PR #2147 */
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  .hui{
    padding: 4rem 4.5rem 4.5rem 4.5rem;
  }

  [popover]:-internal-popover-in-top-layer::backdrop{
    background:#0000002b;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "drawer" -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 25 26" fill="none">
    {% comment %} <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/> {% endcomment %}
    <path d="M24.66 22.4787L19.7915 17.4163C19.5717 17.1878 19.2739 17.0608 18.9613 17.0608H18.1654C19.5131 15.2684 20.314 13.014 20.314 10.5615C20.314 4.72727 15.7678 0 10.157 0C4.54623 0 0 4.72727 0 10.5615C0 16.3957 4.54623 21.1229 10.157 21.1229C12.5156 21.1229 14.6837 20.2902 16.4074 18.8888V19.7164C16.4074 20.0414 16.5295 20.3511 16.7493 20.5796L21.6178 25.642C22.0768 26.1193 22.8191 26.1193 23.2732 25.642L24.6551 24.2051C25.1141 23.7278 25.1141 22.956 24.66 22.4787ZM10.157 17.0608C6.70459 17.0608 3.90654 14.1564 3.90654 10.5615C3.90654 6.97158 6.69971 4.0621 10.157 4.0621C13.6094 4.0621 16.4074 6.96651 16.4074 10.5615C16.4074 14.1514 13.6143 17.0608 10.157 17.0608Z" fill="black"/>
  </symbol>

  <symbol id="icon-reset" class="icon icon-close"  fill="none" viewBox="0 0 18 18" stroke="currentColor">
    <circle r="8.5" cy="9" cx="9" stroke-opacity="0.2"/>
    <path d="M6.82972 6.82915L1.17193 1.17097" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
    <path d="M1.22896 6.88502L6.77288 1.11523" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

<{% if section.settings.sticky_header_type != 'none' %}sticky-header data-sticky-type="{{ section.settings.sticky_header_type }}"{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  {%- liquid
    assign social_links = false
    assign localization_forms = false

    if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank
      assign social_links = true
    endif

    if localization.available_countries.size > 1 and section.settings.enable_country_selector or section.settings.enable_language_selector and localization.available_languages.size > 1
      assign localization_forms = true
    endif
  -%}
  
  <header class="header header--{{ section.settings.logo_position }} header--mobile-{{ section.settings.mobile_logo_position }} page-width{% if section.settings.menu_type_desktop == 'drawer' %} drawer-menu{% endif %}{% if section.settings.menu != blank %} header--has-menu{% endif %}{% if has_app_block %} header--has-app{% endif %}{% if social_links %} header--has-social{% endif %}{% if shop.customer_accounts_enabled %} header--has-account{% endif %}{% if localization_forms %} header--has-localizations{% endif %}">
    {% comment %} {%- liquid
      if section.settings.menu != blank
        render 'header-drawer'
      endif

      if section.settings.logo_position == 'top-center' or section.settings.menu == blank
        render 'header-search', input_id: 'Search-In-Modal-1'
      endif
    -%} {% endcomment %}

    {%- if section.settings.logo_position != 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%} 
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo motion-reduce',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}
              
              </div>
              
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    {% comment %} {%- liquid
      if section.settings.menu != blank
        if section.settings.menu_type_desktop == 'dropdown'
          render 'header-dropdown-menu'
        elsif section.settings.menu_type_desktop != 'drawer'
          render 'header-mega-menu'
        endif
      endif
    %} {% endcomment %}

    {%- if section.settings.logo_position == 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}
              </div>
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    <div class="header__icons{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header-localization{% endif %}" 
  style="align-items:center;">
      <div class="desktop-localization-wrapper">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <noscript class="small-hide medium-hide">
            {%- form 'localization', id: 'HeaderCountryMobileFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="HeaderCountryMobileLabelNoScript">{{ 'localization.country_label' | t }}</h2>
                <select class="localization-selector link" name="country_code" aria-labelledby="HeaderCountryMobileLabelNoScript">
                  {%- for country in localization.available_countries -%}
                    <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                      {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form class="small-hide medium-hide no-js-hidden">
            {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {% endif %}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <noscript class="small-hide medium-hide">
            {%- form 'localization', id: 'HeaderLanguageMobileFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="HeaderLanguageMobileLabelNoScript">{{ 'localization.language_label' | t }}</h2>
                <select class="localization-selector link" name="locale_code" aria-labelledby="HeaderLanguageMobileLabelNoScript">
                  {%- for language in localization.available_languages -%}
                    <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                      {{ language.endonym_name | capitalize }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form class="small-hide medium-hide no-js-hidden">
            {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>

        
       {% render 'header-search', input_id: 'Search-In-Modal' %} 

  

      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset">
          {% render 'icon-account' %}
          <span class="xagonicna">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
               
              endif
            -%}
          </span>
        </a>
      {%- endif -%}


     



      
{% comment %}
      {% unless customer %}
        <dialog class="dldbx" id="dkjh" open style=" position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); bacground:red;">
          
            
         
                 <button onclick="cloose()">hello</button>

               </dialog>
        {% endunless %}
{% endcomment %}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
        {%- endcase -%}
      {%- endfor -%}

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--account link focus-inset" id="cart-icon-bubble" >
        {%- liquid
          if cart == empty
            render 'icon-cart'
          else
            render 'icon-cart'
          endif
        -%}
        <span class="xagonicna">{{ 'templates.cart.cart' | t }}</span>
         {% comment %} 
         {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="xagonicna">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%} 
        {% endcomment %}
      </a>
      <a href="https://e2dd4b-2.myshopify.com/pages/giveaway" class="xagonalnk " style="text-decoration: none;">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="128" height="18" viewBox="0 0 148 18" fill="none">
          <path d="M2.88 7.4H13.06V8.6H2.88V13.9H1.64V2.1H15.12V3.32H2.88V7.4ZM3.98 4.44H16.24V0.979999H0.52V15.02H3.98V9.7H14.16V6.3H3.98V4.44ZM0.02 15.52V0.48H16.74L18.68 2.54V6.88H15.62L16.6 7.86V12.14H6.42V17.46H2.08L0.02 15.52ZM31.2031 9.56L26.9831 3.58L22.6631 9.56H31.2031ZM29.0431 8.48H24.8031L26.9431 5.48L29.0431 8.48ZM34.1831 13.9L32.0231 10.8H21.8031C21.4298 11.3067 21.0631 11.8267 20.7031 12.36C20.3565 12.88 19.9965 13.3933 19.6231 13.9H18.0231C19.4365 11.9133 20.8431 9.94667 22.2431 8C23.6565 6.05333 25.0631 4.08667 26.4631 2.1H27.4231L35.6831 13.9H34.1831ZM25.9231 0.979999L15.9231 15.02H20.1631L22.3631 11.92H31.4031L33.5831 15.02H37.8231L28.0231 0.979999H25.9231ZM30.2631 2.54L40.6631 17.46H35.3431L33.3231 15.52L32.5031 14.36H24.6031C24.4431 14.6 24.2631 14.8533 24.0631 15.12C23.8765 15.3867 23.6831 15.6533 23.4831 15.92C23.2965 16.2 23.1098 16.4667 22.9231 16.72C22.7365 16.9867 22.5631 17.2333 22.4031 17.46H17.0631L14.9431 15.52L25.6631 0.48H28.2831L30.2631 2.54ZM43.1316 4V13.9H41.9516V2.1H42.9716L53.7116 12V2.1H54.9116V13.9H53.9116L43.1316 4ZM56.0316 0.979999H52.6116V9.48L43.3516 0.979999H40.8316V15.02H44.2516V6.5L53.5316 15.02H56.0316V0.979999ZM40.3316 15.52V0.48H43.5316L52.1116 8.34V0.48H56.5316L58.4716 2.54V17.46H55.3516L46.6916 9.52V17.46H42.3916L40.3316 15.52ZM72.9648 7.4C73.2848 7.4 73.5982 7.36667 73.9048 7.3C74.2115 7.22 74.4848 7.1 74.7248 6.94C74.9782 6.78 75.1782 6.57333 75.3248 6.32C75.4715 6.05333 75.5448 5.74 75.5448 5.38C75.5448 5.00667 75.4715 4.69333 75.3248 4.44C75.1915 4.17333 75.0048 3.96 74.7648 3.8C74.5248 3.62667 74.2515 3.50667 73.9448 3.44C73.6382 3.36 73.3182 3.32 72.9848 3.32H64.4248V7.4H72.9648ZM72.9848 4.44C73.1315 4.44 73.2915 4.45333 73.4648 4.48C73.6382 4.50667 73.7982 4.56 73.9448 4.64C74.0915 4.70667 74.2115 4.8 74.3048 4.92C74.3982 5.04 74.4448 5.19333 74.4448 5.38C74.4448 5.56667 74.3915 5.72 74.2848 5.84C74.1915 5.94667 74.0648 6.04 73.9048 6.12C73.7582 6.18667 73.5982 6.23333 73.4248 6.26C73.2515 6.28667 73.0982 6.3 72.9648 6.3H65.5448V4.44H72.9848ZM74.0448 12.68C74.3648 12.68 74.6848 12.6467 75.0048 12.58C75.3248 12.5 75.6048 12.38 75.8448 12.22C76.0982 12.0467 76.2982 11.8333 76.4448 11.58C76.6048 11.3133 76.6848 10.9933 76.6848 10.62C76.6848 10.2867 76.6182 9.99333 76.4848 9.74C76.3515 9.48667 76.1715 9.28 75.9448 9.12C75.7182 8.94667 75.4582 8.82 75.1648 8.74C74.8848 8.64667 74.5915 8.6 74.2848 8.6H64.4248V12.68H74.0448ZM74.2848 9.7C74.4182 9.7 74.5582 9.72 74.7048 9.76C74.8648 9.78667 75.0048 9.84 75.1248 9.92C75.2582 9.98667 75.3648 10.08 75.4448 10.2C75.5248 10.32 75.5648 10.46 75.5648 10.62C75.5648 10.82 75.5115 10.98 75.4048 11.1C75.3115 11.22 75.1848 11.3133 75.0248 11.38C74.8782 11.4467 74.7115 11.4933 74.5248 11.52C74.3515 11.5467 74.1915 11.56 74.0448 11.56H65.5448V9.7H74.2848ZM72.9848 2.1C73.5315 2.1 74.0382 2.16 74.5048 2.28C74.9715 2.4 75.3715 2.59333 75.7048 2.86C76.0515 3.12667 76.3182 3.46667 76.5048 3.88C76.7048 4.29333 76.8115 4.79333 76.8248 5.38C76.8248 5.7 76.7515 6.00667 76.6048 6.3C76.4715 6.58 76.3048 6.82667 76.1048 7.04C75.9048 7.25333 75.6915 7.42667 75.4648 7.56C75.2382 7.68 75.0448 7.74667 74.8848 7.76C75.2448 7.78667 75.6048 7.88 75.9648 8.04C76.3248 8.18667 76.6448 8.38667 76.9248 8.64C77.2182 8.89333 77.4582 9.18667 77.6448 9.52C77.8315 9.85333 77.9248 10.22 77.9248 10.62C77.9248 11.22 77.8248 11.7333 77.6248 12.16C77.4248 12.5733 77.1448 12.9133 76.7848 13.18C76.4382 13.4333 76.0248 13.62 75.5448 13.74C75.0782 13.8467 74.5782 13.9 74.0448 13.9H63.2248V2.1H72.9848ZM74.0448 15.02C74.7648 15.02 75.4315 14.94 76.0448 14.78C76.6582 14.6067 77.1848 14.3467 77.6248 14C78.0648 13.64 78.4115 13.1867 78.6648 12.64C78.9182 12.08 79.0448 11.4067 79.0448 10.62C79.0448 9.95333 78.8582 9.36 78.4848 8.84C78.1248 8.32 77.5782 7.90667 76.8448 7.6C77.0048 7.46667 77.1515 7.31333 77.2848 7.14C77.4182 6.95333 77.5315 6.76 77.6248 6.56C77.7182 6.36 77.7915 6.16 77.8448 5.96C77.8982 5.74667 77.9248 5.55333 77.9248 5.38C77.9248 4.62 77.8048 3.96667 77.5648 3.42C77.3248 2.86 76.9848 2.4 76.5448 2.04C76.1182 1.68 75.5982 1.41333 74.9848 1.24C74.3848 1.06667 73.7182 0.979999 72.9848 0.979999H62.1048V15.02H74.0448ZM61.6048 0.48H72.9848C74.1848 0.48 75.2715 0.68 76.2448 1.08C77.2182 1.48 78.1248 2.18 78.9648 3.18C79.2448 3.51333 79.4982 3.92667 79.7248 4.42C79.9515 4.9 80.1115 5.40667 80.2048 5.94C80.2982 6.46 80.2982 6.97333 80.2048 7.48C80.1248 7.98667 79.9115 8.42 79.5648 8.78C79.9115 8.91333 80.2048 9.14 80.4448 9.46C80.6848 9.76667 80.8782 10.1067 81.0248 10.48C81.1848 10.8533 81.2982 11.2333 81.3648 11.62C81.4448 12.0067 81.4848 12.34 81.4848 12.62C81.4848 13.4867 81.3448 14.2267 81.0648 14.84C80.7982 15.44 80.4248 15.9333 79.9448 16.32C79.4648 16.72 78.8915 17.0067 78.2248 17.18C77.5582 17.3667 76.8315 17.46 76.0448 17.46H63.6648L61.6048 15.52V0.48ZM97.9805 9.56L93.7605 3.58L89.4405 9.56H97.9805ZM95.8205 8.48H91.5805L93.7205 5.48L95.8205 8.48ZM100.96 13.9L98.8005 10.8H88.5805C88.2071 11.3067 87.8405 11.8267 87.4805 12.36C87.1338 12.88 86.7738 13.3933 86.4005 13.9H84.8005C86.2138 11.9133 87.6205 9.94667 89.0205 8C90.4338 6.05333 91.8405 4.08667 93.2405 2.1H94.2005L102.46 13.9H100.96ZM92.7005 0.979999L82.7005 15.02H86.9405L89.1405 11.92H98.1805L100.36 15.02H104.6L94.8005 0.979999H92.7005ZM97.0405 2.54L107.44 17.46H102.12L100.1 15.52L99.2805 14.36H91.3805C91.2205 14.6 91.0405 14.8533 90.8405 15.12C90.6538 15.3867 90.4605 15.6533 90.2605 15.92C90.0738 16.2 89.8871 16.4667 89.7005 16.72C89.5138 16.9867 89.3405 17.2333 89.1805 17.46H83.8405L81.7205 15.52L92.4405 0.48H95.0605L97.0405 2.54ZM109.207 11.16C109.634 11.5733 110.107 11.8867 110.627 12.1C111.147 12.3133 111.687 12.4667 112.247 12.56C112.807 12.64 113.38 12.6867 113.967 12.7C114.554 12.7 115.12 12.7 115.667 12.7C115.867 12.7 116.134 12.6933 116.467 12.68C116.814 12.6667 117.18 12.64 117.567 12.6C117.967 12.5467 118.367 12.48 118.767 12.4C119.167 12.3067 119.527 12.1867 119.847 12.04C120.18 11.8933 120.447 11.72 120.647 11.52C120.86 11.3067 120.967 11.0533 120.967 10.76C120.967 10.4667 120.854 10.2133 120.627 10C120.414 9.77333 120.134 9.58 119.787 9.42C119.44 9.26 119.047 9.12667 118.607 9.02C118.18 8.9 117.754 8.81333 117.327 8.76C116.9 8.69333 116.5 8.64667 116.127 8.62C115.767 8.59333 115.474 8.58 115.247 8.58H115.267C114.947 8.56667 114.554 8.53333 114.087 8.48C113.62 8.42667 113.134 8.34667 112.627 8.24C112.12 8.13333 111.614 8 111.107 7.84C110.6 7.66667 110.147 7.46 109.747 7.22C109.347 6.98 109.02 6.7 108.767 6.38C108.514 6.04667 108.387 5.66667 108.387 5.24C108.387 4.77333 108.507 4.37333 108.747 4.04C109 3.70667 109.32 3.42667 109.707 3.2C110.107 2.96 110.554 2.77333 111.047 2.64C111.54 2.49333 112.04 2.38 112.547 2.3C113.054 2.22 113.534 2.16667 113.987 2.14C114.454 2.11333 114.847 2.1 115.167 2.1C115.687 2.1 116.214 2.12667 116.747 2.18C117.294 2.22 117.827 2.3 118.347 2.42C118.867 2.54 119.374 2.70667 119.867 2.92C120.36 3.12 120.814 3.38 121.227 3.7L120.167 4.46C119.78 4.19333 119.374 3.98667 118.947 3.84C118.52 3.68 118.08 3.56 117.627 3.48C117.174 3.4 116.714 3.35333 116.247 3.34C115.78 3.31333 115.327 3.3 114.887 3.3C114.58 3.3 114.16 3.32 113.627 3.36C113.107 3.4 112.587 3.48667 112.067 3.62C111.56 3.74 111.12 3.93333 110.747 4.2C110.374 4.45333 110.187 4.8 110.187 5.24C110.187 5.66667 110.367 6.01333 110.727 6.28C111.087 6.53333 111.56 6.74 112.147 6.9C112.734 7.04667 113.4 7.16667 114.147 7.26C114.907 7.34 115.68 7.42667 116.467 7.52C117.254 7.61333 118.02 7.72667 118.767 7.86C119.527 7.98 120.2 8.16 120.787 8.4C121.374 8.62667 121.847 8.93333 122.207 9.32C122.567 9.69333 122.747 10.1733 122.747 10.76C122.747 11.1733 122.62 11.54 122.367 11.86C122.127 12.18 121.807 12.46 121.407 12.7C121.007 12.9267 120.554 13.12 120.047 13.28C119.554 13.4267 119.054 13.5467 118.547 13.64C118.054 13.7333 117.58 13.8 117.127 13.84C116.674 13.88 116.3 13.9 116.007 13.9H114.507C113.96 13.9 113.387 13.88 112.787 13.84C112.187 13.8 111.6 13.7133 111.027 13.58C110.454 13.4333 109.907 13.2333 109.387 12.98C108.867 12.7267 108.407 12.38 108.007 11.94L109.207 11.16ZM106.347 11.52C106.88 12.3867 107.514 13.06 108.247 13.54C108.98 14.0067 109.774 14.3533 110.627 14.58C111.48 14.7933 112.36 14.92 113.267 14.96C114.187 15 115.1 15.02 116.007 15.02C116.407 15.02 116.88 14.9933 117.427 14.94C117.974 14.8733 118.54 14.7733 119.127 14.64C119.714 14.5067 120.287 14.3333 120.847 14.12C121.42 13.8933 121.927 13.6267 122.367 13.32C122.82 13 123.18 12.6333 123.447 12.22C123.727 11.7933 123.867 11.3067 123.867 10.76C123.867 10.1067 123.72 9.55333 123.427 9.1C123.147 8.63333 122.774 8.24667 122.307 7.94C121.854 7.62 121.327 7.36667 120.727 7.18C120.14 6.98 119.534 6.82667 118.907 6.72C118.28 6.61333 117.667 6.53333 117.067 6.48C116.467 6.42667 115.934 6.38 115.467 6.34C115.307 6.32667 115 6.3 114.547 6.26C114.094 6.20667 113.627 6.14 113.147 6.06C112.667 5.96667 112.24 5.85333 111.867 5.72C111.494 5.58667 111.307 5.42667 111.307 5.24C111.307 5.02667 111.48 4.86667 111.827 4.76C112.174 4.65333 112.567 4.57333 113.007 4.52C113.46 4.46667 113.894 4.44 114.307 4.44C114.734 4.42667 115.02 4.42 115.167 4.42C115.594 4.42 116.027 4.44 116.467 4.48C116.907 4.50667 117.334 4.57333 117.747 4.68C118.174 4.78667 118.574 4.94 118.947 5.14C119.334 5.34 119.687 5.6 120.007 5.92L122.927 3.96C122.42 3.26667 121.847 2.72667 121.207 2.34C120.567 1.94 119.887 1.64 119.167 1.44C118.447 1.24 117.694 1.11333 116.907 1.06C116.134 1.00667 115.354 0.979999 114.567 0.979999C114.154 0.979999 113.68 1.01333 113.147 1.08C112.627 1.13333 112.094 1.22667 111.547 1.36C111.014 1.49333 110.487 1.66667 109.967 1.88C109.46 2.09333 109.007 2.36 108.607 2.68C108.207 3 107.887 3.37333 107.647 3.8C107.407 4.21333 107.287 4.69333 107.287 5.24C107.287 5.86667 107.44 6.40667 107.747 6.86C108.054 7.31333 108.46 7.7 108.967 8.02C109.474 8.34 110.047 8.6 110.687 8.8C111.327 9 111.974 9.16667 112.627 9.3C113.294 9.42 113.934 9.52 114.547 9.6C115.174 9.66667 115.72 9.72667 116.187 9.78C116.32 9.79333 116.58 9.82 116.967 9.86C117.367 9.9 117.78 9.96 118.207 10.04C118.634 10.1067 119.014 10.2 119.347 10.32C119.68 10.44 119.847 10.5867 119.847 10.76C119.847 10.9067 119.74 11.0333 119.527 11.14C119.314 11.2333 119.04 11.3133 118.707 11.38C118.374 11.4333 118.007 11.4733 117.607 11.5C117.207 11.5267 116.814 11.5467 116.427 11.56C116.054 11.5733 115.714 11.58 115.407 11.58C115.114 11.58 114.907 11.58 114.787 11.58C114.28 11.58 113.78 11.56 113.287 11.52C112.794 11.4667 112.314 11.3733 111.847 11.24C111.38 11.0933 110.94 10.8933 110.527 10.64C110.114 10.3867 109.74 10.0467 109.407 9.62L106.347 11.52ZM109.247 9.12L108.287 8.14C107.82 7.79333 107.454 7.38667 107.187 6.92C106.92 6.44 106.787 5.88 106.787 5.24C106.787 4.62667 106.914 4.08667 107.167 3.62C107.434 3.14 107.78 2.72667 108.207 2.38C108.634 2.03333 109.12 1.74 109.667 1.5C110.214 1.24667 110.774 1.04667 111.347 0.899999C111.92 0.753333 112.487 0.646666 113.047 0.58C113.607 0.513333 114.114 0.48 114.567 0.48C115.354 0.48 116.147 0.506666 116.947 0.559999C117.747 0.599999 118.527 0.719999 119.287 0.919999C120.06 1.12 120.8 1.42667 121.507 1.84C122.214 2.25333 122.874 2.83333 123.487 3.58C123.9 3.99333 124.227 4.34 124.467 4.62C124.707 4.88667 124.894 5.11333 125.027 5.3C125.174 5.48667 125.28 5.64 125.347 5.76C125.414 5.86667 125.48 5.96667 125.547 6.06L122.987 7.78C123.054 7.84667 123.127 7.90667 123.207 7.96C123.3 8 123.427 8.08667 123.587 8.22C123.747 8.35333 123.954 8.54667 124.207 8.8C124.474 9.04 124.827 9.38667 125.267 9.84C125.587 10.1733 125.84 10.6 126.027 11.12C126.214 11.64 126.307 12.1867 126.307 12.76C126.307 13.36 126.16 13.8933 125.867 14.36C125.574 14.8267 125.194 15.2333 124.727 15.58C124.26 15.9267 123.727 16.22 123.127 16.46C122.527 16.7 121.92 16.8933 121.307 17.04C120.694 17.1867 120.094 17.2933 119.507 17.36C118.934 17.4267 118.434 17.46 118.007 17.46C117.22 17.46 116.42 17.46 115.607 17.46C114.794 17.46 113.994 17.3933 113.207 17.26C112.434 17.1267 111.68 16.9067 110.947 16.6C110.214 16.2933 109.54 15.8267 108.927 15.2C108.407 14.72 107.967 14.3 107.607 13.94C107.26 13.5667 106.96 13.2333 106.707 12.94C106.467 12.6333 106.26 12.3533 106.087 12.1C105.927 11.8467 105.774 11.6 105.627 11.36L109.247 9.12ZM141.478 7.4V8.6H131.298V12.68H143.558V13.9H130.058V2.1H143.538V3.32H131.298V7.4H141.478ZM144.658 4.44V0.979999H128.938V15.02H144.678V11.56H132.398V9.7H142.578V6.3H132.398V4.44H144.658ZM128.438 15.52V0.48H145.158L147.098 2.54V6.88H144.038L145.018 7.86V11.06L147.118 13.12V17.46H130.498L128.438 15.52Z" fill="black"/>
        </svg> -->
        <span style="font-size:1.8rem;color:#000; font-weight: 700; text-decoration: none;" class="xmika">Giveaways</span>
      </a>
      
      {%- liquid
      if section.settings.menu != blank
        render 'header-drawer'
      endif

      if section.settings.logo_position == 'top-center' or section.settings.menu == blank
        render 'header-search', input_id: 'Search-In-Modal-1'
      endif
    -%}
    </div>
    
  </header>
</{% if section.settings.sticky_header_type != 'none' %}sticky-header{% else %}div{% endif %}>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme, desktop_menu_type: section.settings.menu_type_desktop -%}
{%- endif -%}
            
<script>
  const ddg=document.getElementById("dkjh");
  function shoow(){
    ddg.show();
  }
  function cloose(){
    ddg.close();
  }
</script>
            
{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.section-header');
      this.headerIsAlwaysSticky = this.getAttribute('data-sticky-type') === 'always' || this.getAttribute('data-sticky-type') === 'reduce-logo-size';
      this.headerBounds = {};

      this.setHeaderHeight();

      window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));

      if (this.headerIsAlwaysSticky) {
        this.header.classList.add('shopify-section-header-sticky');
      };

      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__1.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
      {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "t:sections.header.settings.menu_color_scheme.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_layout.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
